include README
include LICENSE
include setup.py
include txaws/client/tests/*.ssl
include txaws/wsdl/*.wsdl
recursive-include txaws/tests/aws4_testsuite *

graft bin
prune admin

recursive-include txaws *.py
